@{
   
}
@model ArticleViewModel

<form enctype="multipart/form-data" asp-action="MyArticlesUpdate" asp-controller="Admin"  method="post">
<input class="form-control" name ="Name" type="text" value="@Model.Name"  required/>
<input class="form-control" name="ShortDescription" type="text" value="@Model.ShortDescription" />
<textarea class="md-textarea form-control" name="Description" cols="40" rows="5" required>@Model.Description</textarea>
<input type="hidden" name="Id" value="@Model.Id"/>
<label>Загрузить новое изображение</label>
<input class="form-control" type="file" name="HeroImage" />
<label>Текущее изображение</label>
 <img   src="@Model.HeroImagePath" class="img-thumbnail" height=375 width=375/>
 <br />
 <input class="btn btn-success" type="submit" value="Обновить статью"  />
<br />
<label>Категория</label>
<select class="form-select" name="CategoryId">
   @foreach(var item in ViewBag.Categores)
         {  
            @:<option value = "@item.Id" @((item.Id==Model.CategoryId)? "selected":"") >
              @item.Name
            @:</option>
        }
    </select>
    <br />
    <label>Теги:</label>
 <ul>
@foreach (var tag in ViewBag.Tags)
{
<li>
<label>@tag.Name</label><input type ="checkbox" name="Tags" value="@tag.Id" @((Model.Tags is not null && Model.Tags.Any(x=>x.Id==tag.Id))? "checked":"") />
</li>
}
</ul>
</form>
@Html.ActionLink("Delete Article","MyArticleRemove", new{ id=Model.Id},new {@class="btn btn-danger"})
