@{
  
}
@model (PageViewModel<ArticleViewModel>, List<CategoryViewModel>)

<ul>
    @foreach (var item in Model.Item1.Items)
    {
       <li>
         @Html.ActionLink(item.Name,"ArticleDetailsUpdate", new{ id=item.Id})
         <img src="@item.HeroImagePath" class="img-thumbnail" height=375 width=375/>
    </li>
    }   
    @if (Model.Item1.HasPreviousPage)
{
    <a asp-action=@ViewBag.Action
       asp-route-CurrentPage="@(Model.Item1.CurrentPage - 1)"
       asp-route-DateStart="@ViewBag.DateStart"
       asp-route-DateEnd="@ViewBag.DateEnd"
       class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.Item1.HasNextPage)
{
    <a asp-action=@ViewBag.Action
       asp-route-CurrentPage="@(Model.Item1.CurrentPage + 1)"
        asp-route-DateStart="@ViewBag.DateStart"
       asp-route-DateEnd="@ViewBag.DateEnd"
       class="btn btn-outline-dark">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}
</ul>
<label>Доступные категории</label>
    <ul>
    @foreach (var item in Model.Item2)
    {
       <li>
         @Html.ActionLink(item.Name,"MyArticlesSortByCategory", new{ id=item.Id, config = Model.Item1 })
    </li>
    }   
</ul>
<form enctype="multipart/form-data" asp-action="MyArticlesSortByDate" asp-controller="Admin"  method="post">
<input class="form-control" type="date" name="DateStart" value="@ViewBag.DateStart" />
<input class="form-control" type="date" name="DateEnd" value ="@ViewBag.DateEnd"/>
<input type="hidden" name="PageSize" value=@Model.Item1.PageSize/>
<input type="hidden" name="CurrentPage" value=@Model.Item1.CurrentPage/>
<input class="btn btn-success" type="submit" value="Фильтр по дате"/>
</form>
<input class="btn btn-warning" type="button" value="Сброс Фильтров" onclick="@("window.location.href='" + @Url.Action("MyArticles", "Admin") + "'");"/>
<br />
<input class="btn btn-primary" type="button" value="Добавить новую статью" onclick="@("window.location.href='" + @Url.Action("AddNewArticle", "Admin") + "'");"/>
