
@{
   
}
@model PageViewModel<TagViewModel>
<ul>
    @foreach (var item in Model.Items)
    {
       <li>
           <label>@item.Name</label>
         @Html.ActionLink("Delete","TagRemove", new{ id=item.Id},new {@class="btn btn-danger"})
    </li>
    }   
</ul>

@if (Model.HasPreviousPage)
{
    <a asp-action="Tags"
       asp-route-CurrentPage="@(Model.CurrentPage - 1)"
       class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.HasNextPage)
{
    <a asp-action="Tags"
       asp-route-CurrentPage="@(Model.CurrentPage + 1)"
       class="btn btn-outline-dark">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}
<br />
<input class="btn btn-primary" type="button" value="Добавить новый тег" onclick="@("window.location.href='" + @Url.Action("AddNewTag", "Admin") + "'");"/>